.body {
    display: flex;
    flex-direction: column;
}

.top-quarter {
    display: flex;
    flex-direction: column;
    background-color: #1f2937;
    color: white;
    
}

.header {
    display: flex;
    justify-content: space-around;
    padding: 16px;
    margin: 30px;

}

.logo { 
    display: flex;
    justify-content: flex-start;
    margin-left: 50px;
    font-size: 24px;
    font-family: #f9faf8;
}

.center {
    display: flex;
    justify-content: center;
}

.right-links {
    display: flex;
    justify-content: flex-end;
    color: white;
    gap: 16px;
    font-family: #e5e7eb;
    margin-right: 50px;
    font-size: 18px;
}

.topbody {
    display: flex;
    margin: 30px;
    justify-content: space-around;
}

.container{
    display: flex;
    flex-direction: column;
    max-width: 350px;
    margin: 50px;
    
}

.awesome{
    font-size: 48px;
    font-weight: 700;
    font-family: #f9faf8;
    

}

.subtext1 {
    font-size: 18px;
}

.signup {
    display: flex;
    background-color: #3882f6;
    max-width: 75px;
    min-height: 35px;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    color: white;
    margin-bottom: 16px;
    margin-top: 12px;

}

img {
    flex: 0;
    width: 450px;
    height: 281px;
}


a {
    text-decoration: none;
    color: white;
}

ul {
    list-style: none;
    color: white;
}

.middletop-quarter {
    display:flex;
    flex-direction: column;
    margin-bottom: 50px
}

.random {
    display: flex;
    justify-content: center;
    margin: 36px;
    font-size: 36px;
    font-weight: 700px;
    font-family: #1f2937;
    
}

.boxes {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 32px;
    
}

.box, .box2, .box3, .box4 {
    border: 1px solid;
    border-color: #3882f6;
    border-radius: 12px;
    height: 100px;
    width: 100px;
    padding: 16px;
    gap: 32px;
    
}

.subtext {
    max-width: 100px;
    text-align: center;
    margin-bottom: 75px;
}

.middlebottom-quarter {
    display: flex;
    background-color: #e5e7eb;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.quote {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    padding: 50px;
    font-style: italic;
    max-width: 600px;
    margin-top: 50px;
    padding-bottom: 0;

}

.thor {
    display: flex;
    min-width: 500px;
    justify-content: flex-end;
    min-height: 100px;
    font-weight: 700;
}

.bottom-quarter {
    display: flex;
    justify-content: center;
    align-items: center;
}

.bottombox {
    display: flex;
    flex-direction:column;
    background-color: #3882f6;
    color: white;
    min-width: 800px;
    min-height: 200px;
    margin: 50px;
    align-items: flex-end;
}

.contain {
    display: flex;
    flex-direction: column;
    margin: 50px;
    align-self: flex-start;
}

.button {
    display: flex;
    max-width: 75px;
    min-width: 35px;
    justify-content: center;
    
}